
  
 
.form div {
    width: 60%;
    margin: auto;
    /* height: 5rem; */
    color: black;
    display: flex;
    flex-direction: column;
    padding: .5rem 0;
  }
  
  .form div label {
    text-align: left;
    color: black;
    font-size: 1.5rem;
  }
  
  
  .form div input {
    border: 1px solid black;
    border-radius: 5px;
    background-color: transparent;
    padding: .5rem;
    font-size: 1.2rem;
    outline: none;
  }
  
  .form div p {
    text-align: left;
    font-size: 1rem;
    padding: .5 0;
  }
  
  .form .phone {
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .phone div {
    border: 1px solid black;
    border-right: none;
    border-radius: 5px;
    width: 20%;
    background-color: transparent;
    padding: .5rem;
    font-size: 1.2rem;
  }
  .phone input {
    width: 80%;
  }
  
  .form .button {
    text-align: center;
  }
  
  .button button {
    font-size: 1.2rem;
    width: 30%;
    background-color: transparent;
    margin: auto;
    padding: .5rem;
    border-radius: 5px;
    border: 1px solid black;
  }
  
  .form .button2 {
    text-align: center;
  }
  .button2 button{
    width: 60%;  
    font-size: 1rem;
    background-color: transparent;
    margin: auto;
    padding: .2rem;
    border-radius: 5px;
    border: 1px solid black;
    cursor:grab;
  }
  
  .button button:disabled,
  .button button:disabled:hover,
  .button button:disabled:active {
    color: black;
    background-color: transparent;
    cursor: not-allowed;
  }